body {
  background-color: aliceblue;
}
/* this css styling is for the header*/
header {
  background-image: url(./images/roses-1253957.jpg);
  height: 200px;
  text-align: center;
  align-items: center;
  align-self: center;
  flex-shrink: 1;
}
header > h1 {
  display: block;
  position: relative;
  top: 30%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  background-image: repeating-linear-gradient(
    30deg,
    red 40%,
    fuchsia 30%,
    pink
  );
  font-size: 40px;
  padding: 2%;
  border-radius: 5%;
  margin: 3px;
}
